*
	margin: 0px
	padding: 0px
	

cctext = #444

.page
	width: 21cm
	height: 29.7cm
	margin: 0 auto
	font-family: 'Arial'
	color: cctext
	padding: 1cm
	box-sizing: border-box

.flc1
	
	&-head
		
		&-hr
			display: block
			margin-bottom: .06cm
			border: none
			border-top: 1px solid #555
		
		&-cont
			font-size: 14pt
			margin-top: .1cm
			margin-bottom: .1cm
			position: relative
			&-cod
				position: absolute
				left: 0
				font-family: 'Arial Black'
			&-tit
				text-align: center
				font-family: 'Arial Black'
			&-dat
				position: absolute
				right: 0
				top: .25cm
				font-size: 8pt
				font-weight: bold
				img
					height: 14pt
					float: right
					margin-top: -3pt
					margin-left: 2pt
	
	&-slide
		margin: 0.2cm auto 0.5cm auto
		width: 80%
		img
			display: block
			width: 100%
			
	&-subtit
		font-size: 8pt
		font-weight: bold
		text-align: center
	
	&-datos
		font-size: 0
		margin-top: .5cm
		&-iz
			display: inline-block
			width: 70%
			vertical-align: middle
			font-weight: bold
			text-align: center
			&-tit
				display: inline-block
				font-size: 10pt
				border: 1px solid cctext
				padding: 5pt 8pt
				border-radius: 5pt
			&-subtit
				display: inline-block
				font-size: 9pt
				margin-top: 5pt

		&-de
			display: inline-block
			width: 30%
			font-size: 7pt
			vertical-align: middle
			font-weight: bold
			line-height: 11pt
			table
				border-collapse: collapse
				//margin: 0 auto
				td
					vertical-align: middle
					padding: 4pt 6pt
					width: 1.8cm
					border: 1px solid cctext
		
	&-tabla
		border-collapse: collapse
		margin-top: .5cm
		font-size: 9pt
		font-weight: bold
		table-layout: fixed
		
		td
			border: 1px solid cctext
			padding: 4pt
			
			table
				width: 100%
				td
					border-collapse: collapse
					border: none
					padding: 0
			
		&-title
			font-size: 7pt
			border: 1px solid cctext
			padding: 2pt
			border-radius: 3pt
			box-sizing: border-box
			text-align: center
			font-weight: bold
			margin-bottom: 2pt
			
		&-check
			position: relative
			padding: 2pt !important
			vertical-align: top
			text-align: center
			
			&-box
				height: 6pt
				width: 6pt
				border: 1px solid cctext
				position: absolute
				left: 0
				vertical-align: middle
				margin-top: -1pt
				font-size: 11px
				line-height: 7px
				font-weight: bold
				text-transform: lowercase
				
			&-txt
				font-size: 6pt
				font-weight: bold
				margin-left: 7pt
		
		&-check2
			width: (100%/6)
			display: inline-block
			margin: 8pt 0
			
			i
				width: 9pt
				height: 12pt
				border: 1pt solid cctext
				display: inline-block
				margin-right: 4pt
				float: left
				margin-top: -3pt
				
			span
				font-size: 8pt
				font-weight: bold
				
		&-dato
			vertical-align: top
			padding: 4pt 6pt !important
			p
				font-size: 8pt
				padding-bottom: .8cm
			div
				border-top: 1px solid cctext
				padding-top: 2pt
				span
					font-size: 7pt
					display: inline-block
	
	&-foot
		&-acep
			margin-top: 0.4cm
			p
				margin-left: 16pt
				font-weight: bold
				font-size: 8pt
				line-height: 12pt
				text-align: justify
			span
				display: block
				float: left
				border: 1pt solid cctext
				width: 8pt
				height: 8pt
				margin-top: 1pt
				
		&-entr
			text-align: center
			font-size: 10pt
			font-weight: bold
			padding: 12pt 0
			span
				display: inline-block
				margin-left: 10pt
				
		&-decl
			font-size: 8pt
			font-weight: bold
			text-align: justify
			
		&-fihu
			font-size: 8pt
			font-weight: bold
			text-align: center
			&-fi
				display: inline-block
				margin-right: 2cm
				span
					height: 2cm
					width: 4cm
					border-bottom: 1pt solid cctext
					margin-bottom: 2pt
					display: block
			&-hu
				display: inline-block
				span
					height: 2cm
					width: 2cm
					border: 1pt solid cctext
					margin-bottom: 2pt
					display: block

.flc2
	
	&-s1
		font-size: 0
		border: 1pt solid cctext
		padding: 6pt 4pt
		margin-bottom: 4pt
		
		&-ti
			font-weight: bold
			font-size: 9pt
			margin-bottom: 8pt
		
		&-co
			display: inline-block
			width: 25%
			text-align: center
			padding: 0 8pt
			box-sizing: border-box
			div
				border: 1pt solid cctext
				padding: 0 10pt
				span
					display: block
					border-top: 1pt solid cctext
					height: 16pt
					line-height: 16pt
					font-size: 6pt
					margin-top: 1.6cm
					font-weight: bold
			p
				font-size: 6pt
				margin-top: 3pt
	
	&-s2
		font-size: 0
		border: 1pt solid cctext
		padding: 6pt 4pt
		
		&-ti
			font-weight: bold
			font-size: 9pt
			margin-bottom: 8pt
		
		&-co
			display: inline-block
			width: 50%
			text-align: center
			padding: 0 4pt
			box-sizing: border-box
			div
				border: 1pt solid cctext
				padding: 6pt
				span
					display: block
					font-size: 6pt
					margin-bottom: 0.8cm
					font-weight: bold
					text-align: left
					
	&-sep
		margin: 6pt 0
		border-top: 1pt dashed cctext

	&-s3
		font-family: 'Arial Black'
		font-size: 7pt
		text-align: center
		width: 100%
		border-collapse: collapse
		td
			vertical-align: middle
			padding: 0
			border: none
			border: 1pt solid cctext
			padding: 4pt
				
		&-se
			border: none !important
			padding: 0 0 !important
		&-de
			margin-left: 4pt
			p
				font-size: 6pt
				text-align: left
				margin-top: 2pt
		&-ti
			span
				font-size: 12pt
			p
				font-size: 5pt

	&-s4
		position: relative
		font-size: 7pt
		
		&-wrap
			position: absolute
			left: -6pt
			right: -6pt
		
			table
				border-spacing: 6pt
				width: 100%
				td
					vertical-align: middle
					border: 1pt solid cctext
					padding: 4pt
		&-dat
			text-align: center
			p
				text-align: left
				margin-bottom: 4pt
			div
				font-size: 10pt
				font-weight: bold
			span
				display: block
				width: 80%
				margin: 1.5cm auto 10pt auto
				border-top: 1px solid cctext
				padding-top: 4pt
					
		&-fec
			font-weight: bold
			text-align: center
			span
				display: block
				margin-top: 4pt
				font-size: 10pt