html > body .trinity {
position:relative;
bottom: 4px;
}

.nb_item {
	position:absolute;
	display:none;
	left:20px;
	top:-59px;
	width:500px;
	height:145px;
	border:1px solid #004A72;
	border-bottom:1px solid #004A72;
	background-color:#FFFFFF
}
.nb_item img {border:0}
.nb_item a {display:block;width:192px;height:68px;padding:14px 0 0 8px}
#nb_item_1 {margin:0 0 0 1px}
#nb_item_2 {margin:0 0 0 196px}
<!--#nb_item_3 {margin:0 0 0 513px}
#nb_item_3 {margin:80 0 0 200px}-->
#nb_item_4 {margin:0 0 0 586px}