* {
  margin: 0px;
  padding: 0px;
}
.page {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  font-family: 'Arial';
  color: #444;
  padding: 1cm;
  box-sizing: border-box;
}
.flc1-head-hr {
  display: block;
  margin-bottom: 0.06cm;
  border: none;
  border-top: 1px solid #555;
}
.flc1-head-cont {
  font-size: 14pt;
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  position: relative;
}
.flc1-head-cont-cod {
  position: absolute;
  left: 0;
  font-family: 'Arial Black';
}
.flc1-head-cont-tit {
  text-align: center;
  font-family: 'Arial Black';
}
.flc1-head-cont-dat {
  position: absolute;
  right: 0;
  top: 0.25cm;
  font-size: 8pt;
  font-weight: bold;
}
.flc1-head-cont-dat img {
  height: 14pt;
  float: right;
  margin-top: -3pt;
  margin-left: 2pt;
}
.flc1-slide {
  margin: 0.2cm auto 0.5cm auto;
  width: 75%;
}
.flc1-slide img {
  display: block;
  width: 100%;
}
.flc1-subtit {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
}
.flc1-datos {
  font-size: 0;
  margin-top: 0.5cm;
}
.flc1-datos-iz {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}
.flc1-datos-iz-tit {
  display: inline-block;
  font-size: 10pt;
  border: 1px solid #444;
  padding: 5pt 8pt;
  border-radius: 5pt;
}
.flc1-datos-iz-subtit {
  display: inline-block;
  font-size: 9pt;
  margin-top: 5pt;
}
.flc1-datos-de {
  display: inline-block;
  width: 30%;
  font-size: 7pt;
  vertical-align: middle;
  font-weight: bold;
  line-height: 11pt;
}
.flc1-datos-de table {
  border-collapse: collapse;
}
.flc1-datos-de table td {
  vertical-align: middle;
  padding: 3pt 5pt;
  width: 6cm;
  border: 1px solid #444;
}
.flc1-tabla {
  border-collapse: collapse;
  margin-top: 0.5cm;
  font-size: 9pt;
  font-weight: bold;
  table-layout: fixed;
}
.flc1-tabla td {
  border: 1px solid #444;
  padding: 4pt;
}
.flc1-tabla td table {
  width: 100%;
}
.flc1-tabla td table td {
  border-collapse: collapse;
  border: none;
  padding: 0;
}
.flc1-tabla-title {
  font-size: 7pt;
  border: 1px solid #444;
  padding: 2pt;
  border-radius: 3pt;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2pt;
}
.flc1-tabla-check {
  position: relative;
  padding: 2pt !important;
  vertical-align: top;
  text-align: center;
}
.flc1-tabla-check-box {
  height: 6pt;
  width: 6pt;
  border: 1px solid #444;
  position: absolute;
  left: 0;
  vertical-align: middle;
  margin-top: -1pt;
  font-size: 11px;
  line-height: 7px;
  font-weight: bold;
  text-transform: lowercase;
}
.flc1-tabla-check-txt {
  font-size: 6pt;
  font-weight: bold;
  margin-left: 7pt;
}
.flc1-tabla-check2 {
  width: 13.666666666666668%;
  display: inline-block;
  margin: 8pt 0;
}
.flc1-tabla-check2 i {
  width: 9pt;
  height: 12pt;
  border: 1pt solid #444;
  display: inline-block;
  margin-right: 4pt;
  float: left;
  margin-top: -3pt;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: lowercase;
}
.flc1-tabla-check2 span {
  font-size: 8pt;
  font-weight: bold;
}
.flc1-tabla-dato {
  vertical-align: top;
  padding: 4pt 6pt !important;
  position: relative;
}
.flc1-tabla-dato p {
  font-size: 8pt;
  padding-bottom: 0.8cm;
}
.flc1-tabla-dato div {
  border-top: 1px solid #444;
  padding-top: 2pt;
  font-size: 0;
}
.flc1-tabla-dato div span {
  font-size: 7pt;
  display: inline-block;
}
.flc1-tabla-dato-txt {
  position: absolute;
  left: 5pt;
  right: 5pt;
  top: 0.7cm;
  font-size: 0 !important;
  padding: 0 !important;
}
.flc1-tabla-dato-txt span {
  display: inline-block;
  font-size: 10pt !important;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-right: 2pt solid #fff !important;
  margin: 0 !important;
}
.flc1-foot-acep {
  margin-top: 0.4cm;
}
.flc1-foot-acep p {
  margin-left: 16pt;
  font-weight: bold;
  font-size: 8pt;
  line-height: 12pt;
  text-align: justify;
}
.flc1-foot-acep span {
  display: block;
  float: left;
  border: 1pt solid #444;
  width: 8pt;
  height: 8pt;
  margin-top: 1pt;
}
.flc1-foot-entr {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  padding: 12pt 0;
}
.flc1-foot-entr span {
  display: inline-block;
  margin-left: 10pt;
}
.flc1-foot-decl {
  font-size: 8pt;
  font-weight: bold;
  text-align: justify;
}
.flc1-foot-fihu {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
}
.flc1-foot-fihu-fi {
  display: inline-block;
  margin-right: 2cm;
}
.flc1-foot-fihu-fi span {
  height: 0cm;
  width: 4cm;
  border-bottom: 1pt solid #444;
  margin-bottom: 2pt;
  display: block;
}
.flc1-foot-fihu-hu {
  display: inline-block;
}
.flc1-foot-fihu-hu span {
  height: 2.5cm;
  width: 2.5cm;
  border: 1pt solid #444;
  margin-bottom: 2pt;
  display: block;
}
.flc2-s1 {
  font-size: 0;
  border: 1pt solid #444;
  padding: 6pt 4pt;
  margin-bottom: 4pt;
}
.flc2-s1-ti {
  font-weight: bold;
  font-size: 9pt;
  margin-bottom: 8pt;
}
.flc2-s1-co {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0 8pt;
  box-sizing: border-box;
}
.flc2-s1-co div {
  border: 1pt solid #444;
  padding: 0 10pt;
}
.flc2-s1-co div span {
  display: block;
  /*border-top: 1pt solid #444;*/
  height: 50pt;
  line-height: 73pt;
  font-size: 8pt;
  margin-top: 2cm;
  font-weight: bold;
}
.flc2-s1-co p {
  font-size: 8pt;
  margin-top: 7pt;
}
.flc2-s2 {
  font-size: 0;
  border: 1pt solid #444;
  padding: 6pt 4pt;
  margin-bottom: 4pt;
}
.flc2-s2-ti {
  font-weight: bold;
  font-size: 9pt;
  margin-bottom: 8pt;
}
.flc2-s2-co {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0 8pt;
  box-sizing: border-box;
}
.flc2-s2-co div {
  border: 1pt solid #444;
  padding: 6pt;
}
.flc2-s2-co div span {
  display: block;
  height: 50pt;
  font-size: 8pt;
  margin-top: 2cm;
  font-weight: bold;
  line-height: 73pt;
  text-align: center;
  /*border-top: 1pt solid #444;*/
}
.fl2-s2-no{
  font-size: 9pt;
}
.flc2-sep {
  margin: -234pt 0;
  position: absolute;
  /*border-top: 0pt dashed #444;*/
}
.flc2-s3 {
  margin: -200pt 0;
  position: absolute;
  font-family: 'Arial Black';
  font-size: 7pt;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  display: inline-block;
  
}
.flc2-s3 td {
  vertical-align: middle;
  padding: 13;
  border: none;
  border: 1pt solid #444;
  padding: 4pt;
}
.flc2-s3-se {
  border: none !important;
  padding: 0 0 !important;
}
.flc2-s3-de {
  margin-left: 1pt;

}
.flc2-s3-de p {
  font-size: 6pt;
  text-align: left;
  margin-top: 2pt;
}
.flc2-s3-ti span {
  font-size: 12pt;
}
.flc2-s3-ti p {
  font-size: 7pt;
}
.flc2-s4 {
  position: relative;
  margin: -150pt 0;
  font-size: 7pt;
}
.flc2-s4-wrap {
  position: absolute;
  left: -6pt;
  right: -6pt;
}
.flc2-s4-wrap table {
  border-spacing: 6pt;
  width: 100%;
}
.flc2-s4-wrap table td {
  vertical-align: middle;
  border: 1pt solid #444;
  padding: 4pt;
}
.flc2-s4-dat {
  text-align: center;
}
.flc2-s4-dat p {
  text-align: left;
  margin-bottom: 4pt;
}
.flc2-s4-dat div {
  font-size: 10pt;
  font-weight: bold;

}
.flc2-s4-dat span {
  display: inline-block;
  width: 90%;
  margin: 2cm auto 10pt auto;
  border-top: 1px solid #444;
}
.flc2-s4-fec {
  font-weight: bold;
  text-align: center;
}
.flc2-s4-fec span {
  display: block;
  margin-top: 4pt;
  font-size: 10pt;
}
